:root{
	 --color-1: #ff0000;
	 --color-2: #ffde00;
   --color-3: #1c20e3;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.none{
    display:none;
}


/* PRE-LOADING */
#preloader {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #fff;
    z-index: 1000;
    top: 0;
    left: 0;
}
    #anim {
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        position: fixed;
    }
        #anim {
            height: 0;
            width: 30%;
            position: absolute;
            top: 50%;
            left: 50%;
            padding-top: 30%;
            transform: translate(-50%, -50%);
        }
            #scene-intro {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
                #scene-intro .logo {
                    max-height: 80%;
                    max-width: 80%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

header {
    position: fixed;
    top: 0;
    left: -100vw;
    width: calc(100vw + 200px);
    height: 100%;
    background: #fff;
    transition: all .5s ease;
		z-index:100;
}
header.open {
    left: 0;
}
    .logo-link {
        position: fixed;
        top: 25px;
        display: block;
        left: 100px;
        transform: translate(-50%, 0) !important;
        transition: all .5s ease 0s;
        width: 150px;
        height: 150px;
        z-index: 10;
        pointer-events: initial !important;
    }
    .open .logo-link {
        top: 50%;
        left: 25%;
        width: 65vh;
        height: 65vh;
        transform: translate(-50%, -50%) !important;
        transition: all .5s ease .3s;
    }
    .carre {
        width: 90%;
        height: 90%;
        position: absolute;
				transition: background .5s ease, border .5s ease;
				border: 2px solid transparent;
    }
    .bleu {
        background: var(--color-3);
    }
    .rouge {
        background: var(--color-1);
        top: 5% !important;
        left: 5% !important;
    }
    .jaune {
        background: var(--color-2);
        top: 10% !important;
        left: 10% !important;
    }
        .logo-link .logo {
            width: 90%;
            height: auto;
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
        }
    .page-title {
        position: absolute;
        top: 50%;
        right: 100px;
        transform: translate(50%, 10%) rotate(90deg);
        font-size: 7vh;
        margin: 0;
        font-weight: 800;
        text-transform: uppercase;
    }
        .page-title a {
            color: gray;
            transition:all .5s ease;
            text-decoration:none;
        }
        .red-page .page-title a {
            color: var(--color-1);
        }
        .yellow-page .page-title a {
            color: var(--color-2);
        }
        .blue-page .page-title a {
            color: var(--color-3);
        }
        .page-title a:hover {
            color: #000;
        }

    .menu-select {
        position: absolute;
        bottom: 30px;
        right: 100px;
        display: block;
        transform: translateX(50%);
        font-size: 26px;
        font-weight: 600;
				cursor:pointer;
    }
    .menu-select::after {
        content: '';
        width: 100%;
        height: 5px;
        background: red;
        background: linear-gradient(to right, var(--color-3) 0%, var(--color-3) 33%, var(--color-1) 33%, var(--color-1) 66%, var(--color-2) 66%, var(--color-2) 100%);
        position: absolute;
        bottom: -5px;
        left: 0;
    }
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100vw - 100px);
        min-height: calc(100% - 100px);
        padding: 50px;
    }
    .black-line {
        position: absolute;
        top: 50px;
        left: 50%;
        height: calc(100vh - 100px);
        width: 50px;
        background: #000;
        transform: translateX(-50%);
    }
    .close {
        position: absolute;
        top: 50%;
        left: 50%;
        line-height: 50px;
        padding: 0 15px;
        font-size: 22px;
        transform: translate(-50%, -50%) rotate(-90deg);
        background: #fff;
        letter-spacing: 1px;
				cursor:pointer;
    }
    nav {
        top: 0;
        position: relative;
        left: calc(50vw + 50px);
        display: table-cell;
        height: calc(100vh - 100px);
        vertical-align: middle;
    }
      .nav {
          position: relative;
          display: block;
          list-style: none;
          margin: 0;
          padding:0;
      }
        .menu-link {
            color: #000;
            text-decoration: none;
            font-size: 5vh;
            font-weight: 700;
            line-height: 6vh;
            transition: all .3s ease;
        }
        .menu-link:hover {
            color: gray;
        }
				.color-red:hover,
        .color-red.nuxt-link-exact-active{
            color: var(--color-1);
        }
				.color-yellow:hover,
        .color-yellow.nuxt-link-exact-active{
            color: var(--color-2);
        }
				.color-blue:hover,
        .color-blue.nuxt-link-exact-active{
            color: var(--color-3);
        }


				.blue-page .page-title{
						color:var(--color-3);
				}
				.blue-page .rouge {
		        background: var(--color-3);
		    }
		    .blue-page .jaune,
				.blue-page .bleu {
						background: transparent;
		        border: 2px solid var(--color-3);
		    }

				.yellow-page .rouge {
		        background: var(--color-2);
		    }
		    .yellow-page .jaune,
				.yellow-page .bleu {
						background: transparent;
		        border: 2px solid var(--color-2);
        }
        .yellow-page .rouge .logo {
            filter: invert(1);
		    }


main {
    position: relative;
    padding: 50px 50px 50px 200px;
		font-size:0;
    margin-bottom: 100px;
    z-index: 1;
    background: #fff;
}
.page-article-factory,
.page-article-film,
.page-article-colloques,
.page-article-horslesmurs,
.page-article-editions{
    display: inline-block;
}
	.small-article {
	    position: relative;
	    display: inline-block;
	    width: 25%;
	    overflow: hidden;
	    font-size: initial;
	    height: calc((100vw - 250px) / 4);
			float: left;
	}
		.article-padding {
		    margin: 15px;
		    background:#e9e9e9;
		    overflow: hidden;
		    height: calc(100% - 30px);
		    width: calc(100% - 30px);
		    position: relative;
				display: block;
				text-decoration: none;
        min-height: 320px;
		}
				.cover {
				    max-width: 100%;
				    position: absolute;
				    top: 50%;
				    left: 50%;
				    transform: translate(-50%, -50%) scale(1.1);
				    background: #e9e9e9;
				    max-height: 100%;
						transition: all .3s ease;
            height:auto;
            width:auto;
				}
			.cover2 {
				    max-width: none;
				    position: absolute;
				    top: 50%;
				    left: 50%;
				    transform: translate(-50%, -50%) scale(1.1);
				    background: #e9e9e9;
				    max-height: none;
						transition: all .3s ease;
            height:auto;
            width:auto;
				}
         

        .page-article-expositions .selected{
            max-height: none;
            width: 100%;
        }
				.small-article:hover .cover {
						transform: translate(-50%, -50%) scale(1);
				}
				.small-article .content {
				    display: block;
				    height: calc(100% - 60px);
				    position: relative;
				    opacity: 0;
				    transition: all .5s ease;
						background: var(--color-1);
						padding: 30px;
						color:#fff;
				}
				.small-article:hover .content {
						opacity:1;
				}
						.small-article .title-article {
						    display: block;
						    text-transform: uppercase;
						    font-size: 30px;
						    letter-spacing: 1px;
						    margin: 15px 0;
						    line-height: 30px;
						}
						.small-article hr {
						    border: 1px solid #fff;
						    width: 25px;
						    position: relative;
						    margin: 0;
						}
						.small-article .description-article {
						    font-size: 20px;
						    letter-spacing: 1px;
						    margin: 15px 0;
						}
						.small-article .date {
						    font-size: 16px;
						    line-height: 21px;
						    position: absolute;
						    bottom: 30px;
						    display: block;
						    padding-left: 25px;
						}
							.small-article .date::before {
							    content: '';
							    position: absolute;
							    left: 0;
							    height: 2px;
							    width: 15px;
							    background: #fff;
							    top: 10px;
							}

.left-side, .right-side {
    position: relative;
    display: inline-block;
}
.left-side {
    font-size: 0;
		width: 50%;
		padding: 0 0 50px;
}
.right-side {
    float: right;
    font-size: initial;
		padding: 0 50px 50px;
		width: calc(50% - 100px);
    position: sticky;
    top: 50px;
}
	.left-side iframe{
			padding: 0 15px 15px;
			width:calc(100% - 30px);
	}
	.diapo .image {
	    margin: 15px;
	    display: inline-block;
	    width: calc(50% - 30px);
	    overflow: hidden;
	    height: 25vh;
	    position: relative;
			background:#e9e9e9;
	}
	.diapo .image:first-child {
	    width:calc(100% - 30px);
			height: 35vh;
	}
	.page-article-editions .diapo .image:first-child,
  .page-article-horslesmurs .diapo .image:first-child,
  .page-article-factory .diapo .image:first-child,
  .page-article-expositions .diapo .image:first-child{
	    height: 70vh;
	}
	.diapo img {
			max-width: 100%;
			position: relative;
			display: block;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: auto;
			height: auto;
			max-height: 100%;
	}
		.page-article-editions .diapo .image:first-child img,
    .page-article-factory .diapo .image:first-child img ,
    .page-article-film .diapo img {
		    height: 100%;
				width:auto;
        max-width: none;
		}

.right-side .date {
    font-size: 32px;
    line-height: 32px;
    margin: 0;
    padding-left: 25px;
}
.right-side .date::before {
		content: '';
		position: absolute;
		left: 50px;
		height: 2px;
		width: 15px;
		background: #000;
		top: 16px;
}
.right-side .title-article {
    text-transform: uppercase;
    color: var(--color-1);
    font-size: 3em;
    line-height: 1em;
    margin: 15px 0 0;
}
.right-side .description-article {
    color: var(--color-1);
    font-size: 1.8em;
    margin: 0 0 30px;
    line-height: 1em;
}
.content {
    font-size: 14px;
    line-height: 16px;
}
.content h2,
.content h3,
.content h4{
    margin: 0;
}
.main-content p {
    margin: 0 0 15px;
}
/* .main-content p:last-child {
    color: var(--color-1); 
}*/
.main-description {
    text-align: left;
}
.main-description p {
    text-align: justify;
}
.main-description a {
    color: #000;
}
.read-more {
    color: var(--color-1);
    font-weight: 600;
		margin-bottom:0;
}
.link {
    text-transform: uppercase;
    padding: 10px 20px;
    color: var(--color-1);
    text-decoration: none;
    border: 2px solid var(--color-1);
    font-style: italic;
		margin-bottom: 15px;
    margin-right: 10px;
		display: inline-block;
    transition: all .3s ease;
}
.link:hover {
    color: #fff;
    background: gray;
    border-color: #fff;
}
.red-page .link:hover {
    background: red;
}
.blue-page .link:hover {
    background: var(--color-3);
}
.more-link {
    position: relative;
    padding: 5px 10px;
    text-decoration: none;
    color: var(--color-1);
    transition: all .3s ease;
}
.more-link:hover {
    color: #000;
    background: gray;
}
.red-page .more-link:hover {
    color: #fff;
    background: red;
}
.blue-page .more-link:hover {
    color: #fff !important;
    background: var(--color-3);
}
.yellow-page .more-link:hover {
    color: #000;
    background: var(--color-2);
}

.intro {
    font-size: 18px;
    padding: 15px;
    margin: 0 15px 15px;
    border: 10px solid var(--color-3);
    color: var(--color-3);
}
.red-page .intro{
    border: 10px solid red;
    color: red;
}
.intro p {
    margin: 0;
}
.big-one{
    width: 50%;
    height: calc((100vw - 250px ) / 2);
}

.blue-page .small-article .content{
		background: var(--color-3);
}
.blue-page .right-side .title-article,
.blue-page .right-side .description-article,
.blue-page .right-side .content i,
.blue-page .right-side .read-more,
.blue-page .right-side .link,
.blue-page .right-side .more-link{
		color: var(--color-3);
}
.blue-page .right-side .link{
		border:2px solid var(--color-3);
}
.blue-page .main-content p:last-child {
    color: #000;
}
.blue-page .main-description {
    color: var(--color-3);
}
.blue-page .main-description a{
    color: #000;
}

.yellow-page .small-article .content{
		background: var(--color-2);
    color: #000;
}
.yellow-page .small-article hr{
    border: 1px solid #000;
}
.yellow-page .small-article .date::before{
    background: #000;
}
.yellow-page .intro{
    color: #000;
    background: var(--color-2);
    border: 10px solid var(--color-2);
}
.yellow-page .right-side .description-article{
    color:#000;
}
.yellow-page .right-side .title-article,
.yellow-page .right-side .content i,
.yellow-page .right-side .read-more,
.yellow-page .right-side .link{
		color: var(--color-2);
}
.yellow-page .right-side .more-link{
    color:gray;
}
.yellow-page .right-side .link{
		border:2px solid var(--color-2);
}
.yellow-page .main-content p:last-child {
    color: #000;
}
.yellow-page .main-description {
    border: 5px solid var(--color-2);
    padding: 15px;
    margin: 0 0 30px;
}
.yellow-page .main-description a{
    color: #000;
}

/* page-actu */
.article {
    position: relative;
    display: inline-block;
    width: 25%;
    overflow: hidden;
    font-size: initial;
    float: left;
		background:transparent;
		transition:background .3s ease, transform 0s ease !important;
    background: #fff;
}
.article:hover{
		background:#e9e9e9;
}
.big-article {
    width: 100%;
    opacity: 1;
    min-height: 350px;    
		transition:background .3s ease, transform 0s ease !important;
}
.article .article-padding {
    background: transparent;
}
.big-article .article-padding {
		font-size: 0;
}
.thumb {
    height: 250px;
    position: relative;
    display: block;
    overflow: hidden;
}
.article .cover {
    max-height: none;
}
.article:hover .cover {
    transform: translate(-50%,-50%) scale(1);
}
.big-article .thumb {
    width: calc(50% - 30px);
    display: inline-block;
    position: absolute;
    height: 100%;
}
.big-article .content {
    width: 50%;
    position: relative;
    display: inline-block;
    font-size: initial;
    left: calc(50% - 15px);
}
.page-actu .description-article {
    max-width: none;
    font-size: 1em;
    margin: 0;
}
.article .content{
		padding: 0 1px;
}
.big-article .content{
		padding-left: 50px;
    width: calc(50% - 50px);
}
.article .description-article {
    display: none;
}
.page-actu .description-article {
    max-width: none;
}
.page-actu .category {
    margin-right: 20px;
    color: var(--color-3);
    position: relative;
    display: inline-block;
}
.page-actu .category::before {
    content: '';
    position: absolute;
    right: -15px;
    height: 2px;
    width: 10px;
    background: blue;
    top: 50%;
}
.page-actu .category:last-child::before {
    content: none;
}
.page-actu .content a {
    text-decoration: none;
}
.page-actu .extend {
    background: transparent;
    width: auto;
    position: relative;
    color: var(--color-3);
}
.big-article .description-article {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.article .title-article {
    color: var(--color-1);
    font-size: 1.5vw;
    line-height: 2vw;
    margin: 15px 0;
}
.big-article .title-article {
    font-size: 2.5vw;
    line-height: 3vw;
}
.article .description {
    color: #000;
    text-align: justify;
}
.page-article-actu .content a {
    color: #000;
}


/* page actu slug */
.page-article-actu .article-slug {
    width: 60%;
    position: relative;
    overflow: hidden;
    display: inline-block;
    font-size: initial;
}
.page-article-actu .sidebar {
    width: calc(40% - 150px);
    float: right;
    position: relative;
    display: inline-block;
    font-size: medium;
    padding: 0 50px 0 100px;
}
.page-article-actu .title-article {
    font-size: 3em;
    color: var(--color-1);
    line-height: 1em;
    margin: 30px 0 0;
    text-align: left;
}
.page-article-actu .cover {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    height: 550px;
    overflow: hidden;
    margin: 50px 0;
}
.page-article-actu .thumbnail {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.page-article-actu .description-article {
    margin: 0 0 15px;
    max-width: none;
}
.page-article-actu .content {
    text-align: justify;
    margin-bottom: 50px;
}
.article-slug img {
    display: block;
    width:100%;
    max-width: 100%;
    height: auto;
}

/* Lightbox */
.modal {
    display: none;
    position: fixed;
    z-index: 101;
    padding: 50px 0;
    left: 200px;
    top: 0;
    width: calc(100% - 200px);
    height: calc(100% - 100px);
    overflow: auto;
    background-color: #e9e9e9;
}

/* Modal Content */
.modal-content {
	  position: relative;
	  background-color:transparent;
	  margin: auto;
	  padding: 0;
	  width: 60%;
		top: 50%;
		transform: translatey(-50%);
		height: 100%;
}
.close-modal {
    color: #000;
    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 70px;
    font-weight: lighter;
    text-transform: unset;
}
.close-modal:hover,
.close-modal:focus {
	  color: #999;
	  text-decoration: none;
	  cursor: pointer;
}
.mySlides {
	  display: none;
		height: 100%;
}
.mySlides img {
    max-height: calc(100vh - 100px);
		max-width: 100%;
		top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}
.prev,
.next {
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  padding: 16px;
	  transform: translateY(-50%);
	  color: #000;
	  font-weight: bold;
	  font-size: 70px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	  user-select: none;
	  -webkit-user-select: none;
}
.prev {
	  left: -100px;
}
.next {
	  right: -100px;
	  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
	  color: #999;
}
.caption-container {
    text-align: center;
    background-color: transparent;
    padding: 0;
    color: var(--color-3);
    font-size: initial;
    position: fixed;
    bottom: 15px;
    width: 60%;
    left: calc(50% + 100px);
    transform: translateX(-50%);
}
#caption {
		margin: 0;
		line-height: 35px;
}

/* page colloques slug */
.page-article-colloques .description-article {
    margin: 0 0 15px;
}
.page-article-colloques .image {
    width: calc(100% - 30px);
    height: 30vh !important;
}
.page-article-colloques .right-side {
    float: left;
    padding: 0 100px 50px;
    width: calc(60% - 200px);
    position: relative;
    top: 0;
}
.page-article-colloques .left-side {
    width: 40%;  
}
.page-article-colloques .right-side .date::before {
    left:100px;
}
.page-article-colloques .main-description strong {
    color: var(--color-1);
    font-size: 1.4em;
}
.page-article-colloques .main-description a {
    color: var(--color-1);
    text-decoration: none;
}



/* WIDGET - ACCORDEON */
  /* Accordeon */
  .accordeon {
      margin: 20px auto 0;
      display: flex;
      flex-direction: column;
  }
  .accordeon .linked {
      padding: 10px 0px;
  }
  .accordeon > * {
  }
  .accordeon__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 95px;
      z-index: 1;
      cursor: pointer;
  }
    .accordeon__titre p {
        font-weight: 600;
        margin: 0;
    }
    .accordeon__titre h4 {
        font-weight: 700;
        font-size: 2.3em;
        line-height: 1em;
        color:var(--color-1);
    }
  .accordeon__body {
      border-top: none;
      overflow: hidden;
      height: 0;
      padding: 0px;
      transition: all .3s;
  }
  .accordeon__content {
      opacity: 0;
      transition: all .3s ease;
      display: block;
      justify-content: space-between;
  }
  .accordeon__info {
      display: flex;
      padding: 10px 0;
      border-bottom: 3px solid var(--color-1);
  }
  .accordeon__info:last-child {
      border: none;
  }
  .accordeon__info .horaires {
      width: 15%;
      color: var(--color-1);
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 1px;
  }
  .information {
      padding-left: 15px;
      text-align: justify;
      width: 85%;
  }
  .accordeon__info p {
      margin: 0;
  }
  .accordeon--open .accordeon__icon {
      color: #000;
  }
  .accordeon__icon {
      transition: all .3s;
      transform: rotate(0);
      font-size: 30px;
      color: var(--color-1);
      padding: 0 10px;
  }
  .accordeon--open .accordeon__icon {
      transform: rotate(180deg);
  }
  .accordeon--open .accordeon__body {
      padding: 0 0 10px;
      height: 100%;
  }
  .accordeon--open .accordeon__content {
      opacity: 1;
      transition:all .3s ease .3s;
  }


  .sidebar .accordeon {
      margin: 0 0 20px;
  }
  .sidebar .accordeon__head {
      height: 50px;
  }
  .sidebar .accordeon__titre h4 {
      font-size: initial;
      color: #000;
      margin: 0;
      line-height: 50px;
      text-transform: uppercase;
  }
  .sidebar .accordeon__icon {
      font-size: 20px;
  }
  .sidebar .accordeon:first-child .accordeon__body {
      background: var(--color-2);
      padding: 0;
  }
  .sidebar .accordeon__info {
      padding: 0 15px;
      border: none;
  }
  .sidebar .accordeon:first-child .accordeon__info a {
      color: #000;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 50px;
      text-align: center;
      width: 100%;
      border:none;
  }
  .sidebar .accordeon__info a {
      color: #000;
      text-decoration: none;
      padding: 0;
      width: 100%;
      line-height: 30px;
      border-bottom: 2px solid #e9e9e9;
  }

  /* page photographe slug */
  .diapo .cover-photographe {
      top: 0;
      transform: none;
      left: 15px;
      max-width: calc(100% - 30px);
      margin: 0 auto 15px;
  }

  /* page résidences */
  .entete {
      height: 50vh;
      overflow: hidden;
      position: relative;
  }
  .entete .cover {
      max-height: none;
      transform: translate(-50%,-50%) scale(1);
  }
  .container {
      font-size: initial;
      text-align: center;
      color: var(--color-1);
      margin: 30px 0 50px;
  }
  .container h2, 
  .container h3 {
      font-size: 3.5em;
      font-weight: 700;
      line-height: 1em;
      margin: 0;
      position: relative;
  }
  .container h2 b {
      font-weight: 700;
  }
  .page-article-residences .container .title-article::after {
      content: '';
      height: 2px;
      width: 20px;
      background: red;
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translatex(-50%);
  }
  .description-article {
      margin: 30px auto 0;
      font-size: 1.5em;
      max-width: 600px;
      line-height: 1.2em;
  }
  .photographe-lien {
      width: 30%;
      padding-top: 30%;
      overflow: hidden;
      position: relative;
      display: inline-block;
      font-size: initial;
      text-align: center;
      text-decoration: none;
      color: red;
      font-weight: 700;
      letter-spacing: 1px;
      margin-bottom:50px;
  }
  .photographe-nom {
      margin: 5px 0 0;
      transition:all .3s ease;
  }
  .articles-content .photographe-lien:nth-child(3){
      margin:0 5% 50px;
  }
  .photographe-image {
      position: absolute;
      height: auto;
      width: 100%;
      padding-top: 100%;
      top: 0;
      overflow: hidden;
  }
  .photographe-image img {
      top: 50%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.1);
      width: 100%;
      transition:all .3s ease;
  }
  .photographe-lien:hover img {
      transform: translate(-50%, -50%) scale(1);
  }
  .photographe-lien:hover .photographe-nom {
      color:#000;
  }
  .edito {
      padding: 15px;
      text-align: justify;
      max-width: 80%;
      margin: 50px auto;
      border: 10px solid var(--color-1);
      color:#000;
  }
  blockquote {
      font-weight: 700;
      border-left: 5px solid black;
      margin: 0px;
      padding-left: 15px;
  }
  .edito {
      padding: 50px;
      text-align: justify;
      max-width: 80%;
      margin: 50px auto;
      border: 10px solid red;
      color: #000;
      height: 300px;
      position: relative;
      overflow: hidden;
  }
  .edito.open {
      height: 100%;
  }
  .edito-title {
      text-align: center;
      font-size: 2em;
      line-height: 1em;
      margin: 0 0 15px;
      font-weight: 700;
      color: red;
  }
  .content-edito {
      position:relative;
      font-size: 14px;
  }
  .extend {
      text-align: center;
      bottom: 0;
      width: calc(100% - 100px);
      background: #fff;
      padding: 10px 0 15px;
      cursor: pointer;
      letter-spacing: 0px;
      transition: all .3s ease;
      position: absolute;
      color: var(--color-1);
  }
  .extend:hover {
      letter-spacing: 2px;
      color: #000;
  }
  .extend::before {
      content: '^';
      font-size: 1.5em;
      font-weight: 700;
      position: absolute;
      top: 5px;
      left: 50%;
      transform: translatex(-50%);
      color: var(--color-1);
      display: none;
      letter-spacing: 2px;
      transition: all.3s ease;
  }
  .extend:hover::before {
      letter-spacing: 1px;
      color: #000;
  }
  .edito.open .extend {
      color:#fff
  }
  .edito.open .extend::before {
      display: block;
  }
  .articles-content {
      font-size: initial;
  }
  .photographe-title {
      text-align: center;
      color: var(--color-1);
      font-size: 3em;
  }
  .bloc {
      width: calc(45% - 30px);
      padding: 15px;
      overflow: hidden;
      position: relative;
      display: inline-block;
      height: 300px;
      font-size: initial;
      text-align: center;
      background:  var(--color-1);
      margin-bottom: 75px;
      color:#fff;
      transition:all .3s ease;
  }
  .bloc:hover {
      background: #000;
  }
  .bloc1, .bloc3 {
      margin-right: 10%;
      box-shadow: 15px 15px gray;
  }
  .bloc2, .bloc4 {
      box-shadow: -15px 15px gray;
  }
  .center {
      display: block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
  }
  .bloc h2 {
      font-size: 2em;
      margin: 0;
      font-weight: 100;
      line-height: 1.2em;
  }
  .bloc h3 {
      font-size: 2em;
      line-height: 1.2em;
      margin: 0;
      letter-spacing: 1px;
      transition:all .3s ease;
  }
  .bloc:hover .center h3:nth-child(2) {
      color:  var(--color-1);
  }
  .bloc a {
      color: #fff;
      text-decoration: none;
      letter-spacing: 1px;
      border: 2px solid #fff;
      padding: 5px 15px;
      transition:all .3s ease;
  }
  .bloc:hover a {
      background: #fff;
      color: var(--color-1);
      border-color: var(--color-1);
  }
  .parrain {
      background: red;
      overflow: hidden;
      padding: 50px;
      font-size: initial;
      color: #fff;
      position: relative;
  }
  .parrain-content {
      display: block;
      text-align: justify;
      font-size: 14px;
  }
  .parrain h3 {
      margin: 0;
      font-size: 1.3em;
  }
  .parrain h3 .date {
      font-weight: 700;
  }
  .parrain h2 {
      margin: 0;
      font-size: 3.2em;
      line-height: 1em;
  }
  .parrain-image {
      width: 40%;
      display: inline-block;
      margin: 10px 0 30px 30px;
      height: 595px;
      position: relative;
      overflow: hidden;
      float: right;
  }
  .parrain img {
      height: 100%;
      display: block;
      left: 50%;
      position: relative;
      transform: translateX(-50%);
      max-height: 600px;
  }
  .parrain a {
      color: #fff;
  }
  .parrain-content p:last-child {
      margin-bottom: 0;
  }


#footer {
    position: fixed;
    bottom: 0;
    width: calc(100% - 300px);
    padding-left: 250px;
    padding-right: 50px;
    z-index: 0;
  font-size:80%;
    background: #e9e9e9;
    text-align: left;
}
.reseaux {
    display: inline-block;
}
.reseaux a {
    color: #000;
    line-height: 100px;
    padding: 0 15px;
}
.copyright {
    display: inline-block;
    padding: 25px 15px;
    float:right;
}
.copyright p {
    margin: 0;
    line-height: 25px;
}
.copyright p a{
    color:#000;
    text-decoration: none;
}
.page-studies .intro {
    border-color: #e9e9e9;
    color: gray;
}
.page-studies .small-article {
    float: none;
    cursor: zoom-in; 
}
.left-side .diapo h3 {
    font-size: 26px;
    text-align: center;
    color: red;
}
.page-partenaires .left-side {
    width: 60%;
}
.page-partenaires .right-side {
    width: calc(40% - 100px);
}
.page-partenaires .image {
    width: calc(25% - 30px);
}
.page-partenaires .diapo a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
.page-partenaires .diapo .image{
    background:#fff; 
}
.page-index {
    display: inline-block;
}
.page-index h3 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 0px;
}
.page-index .colx4 {
  width: 25%;
  float: left;
}
.page-index .small-article {
  width: 100%;
}
.page-index .read-more {
  width: 100%;
  display: grid;
  font-size: 16px;
  text-align: center;
  color: gray;
  text-decoration: none;
}
.page-index .read-more:hover {
  color: black;
}
.page-index .color-blue {
  color: #1c20e3 !important;
}
.page-index .factory-image {
  background: #1c20e3;
}
.page-index .color-red {
  color: red !important;
}
.page-index .residence-image, 
.page-index .film-image, 
.page-index .colloque-image, 
.page-index .edition-image, {
  background: red;
}
.page-index .color-yellow {
  color: #ffde00 !important;
}
.page-index .horslesmurs-image {
  background: #ffde00;
}
.page-index .color-gray {
  color: gray !important;
}
.page-index .exposition-image, .page-index .studie-image {
  background: gray;
}
.page-index .x2 {
    margin-top: 50px;
}
.page-index .intro {
    border-color: #e9e9e9;
    color: gray;
}
.page-expositions .content, .page-photographe .content {
    background: gray;
}
.diapo .image{ 
  cursor: zoom-in; 
}
